h1{
  text-align: center;
  font-size: 120%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.snake-container {
  display: grid;
  
  border: 2px solid #000;
  width: 400px; 
  height: 400px; 
}

.snake-segment {
  border: 1px solid #fff;
}
.Counters{
  text-align: center;
  font-size: 120%;
}

/* 
.snake-segment {
  width: 20px;
  height: 20px;
  background-color: #00ff00;
  border: 1px solid #000;

}
.apple {
  width: 20px;
  height: 20px;
  background-color: red; 
  border-radius: 50%; 
  border: 1px solid #000; 
} */